<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>name</key>
		<string>bag</string>
		<key>group</key>
		<string>Morning</string>
	</dict>
	<dict>
		<key>name</key>
		<string>book</string>
		<key>group</key>
		<string>Morning</string>
	</dict>
	<dict>
		<key>name</key>
		<string>box</string>
		<key>group</key>
		<string>Morning</string>
	</dict>
	<dict>
		<key>name</key>
		<string>calculator</string>
		<key>group</key>
		<string>Morning</string>
	</dict>
	<dict>
		<key>name</key>
		<string>calendar</string>
		<key>group</key>
		<string>Morning</string>
	</dict>
	<dict>
		<key>name</key>
		<string>clock</string>
		<key>group</key>
		<string>Morning</string>
	</dict>
	<dict>
		<key>name</key>
		<string>comments</string>
		<key>group</key>
		<string>Morning</string>
	</dict>
	<dict>
		<key>name</key>
		<string>count</string>
		<key>group</key>
		<string>Morning</string>
	</dict>
	<dict>
		<key>name</key>
		<string>easel</string>
		<key>group</key>
		<string>Afternoon</string>
	</dict>
	<dict>
		<key>name</key>
		<string>letter</string>
		<key>group</key>
		<string>Afternoon</string>
	</dict>
	<dict>
		<key>name</key>
		<string>mail</string>
		<key>group</key>
		<string>Afternoon</string>
	</dict>
	<dict>
		<key>name</key>
		<string>malbox</string>
		<key>group</key>
		<string>Afternoon</string>
	</dict>
	<dict>
		<key>name</key>
		<string>message</string>
		<key>group</key>
		<string>Afternoon</string>
	</dict>
	<dict>
		<key>name</key>
		<string>news</string>
		<key>group</key>
		<string>Afternoon</string>
	</dict>
	<dict>
		<key>name</key>
		<string>phone</string>
		<key>group</key>
		<string>Afternoon</string>
	</dict>
	<dict>
		<key>name</key>
		<string>photo</string>
		<key>group</key>
		<string>Afternoon</string>
	</dict>
	<dict>
		<key>name</key>
		<string>safe</string>
		<key>group</key>
		<string>Afternoon</string>
	</dict>
	<dict>
		<key>name</key>
		<string>ticket</string>
		<key>group</key>
		<string>Morning</string>
	</dict>
	<dict>
		<key>name</key>
		<string>ticket</string>
		<key>group</key>
		<string>Morning</string>
	</dict>
	<dict>
		<key>name</key>
		<string>ticket</string>
		<key>group</key>
		<string>Morning</string>
	</dict>
	<dict>
		<key>name</key>
		<string>ticket</string>
		<key>group</key>
		<string>Morning</string>
	</dict>
	<dict>
		<key>name</key>
		<string>ticket</string>
		<key>group</key>
		<string>Morning</string>
	</dict>
	<dict>
		<key>name</key>
		<string>ticket</string>
		<key>group</key>
		<string>Morning</string>
	</dict>
	<dict>
		<key>name</key>
		<string>ticket</string>
		<key>group</key>
		<string>Morning</string>
	</dict>
	<dict>
		<key>name</key>
		<string>ticket</string>
		<key>group</key>
		<string>Morning</string>
	</dict>
	<dict>
		<key>name</key>
		<string>ticket</string>
		<key>group</key>
		<string>Morning</string>
	</dict>
	<dict>
		<key>name</key>
		<string>ticket</string>
		<key>group</key>
		<string>Morning</string>
	</dict>
	<dict>
		<key>name</key>
		<string>ticket</string>
		<key>group</key>
		<string>Morning</string>
	</dict>
	<dict>
		<key>name</key>
		<string>box</string>
		<key>group</key>
		<string>Morning</string>
	</dict>
	<dict>
		<key>name</key>
		<string>box</string>
		<key>group</key>
		<string>Morning</string>
	</dict>
	<dict>
		<key>name</key>
		<string>box</string>
		<key>group</key>
		<string>Morning</string>
	</dict>
	<dict>
		<key>name</key>
		<string>box</string>
		<key>group</key>
		<string>Morning</string>
	</dict>
	<dict>
		<key>name</key>
		<string>box</string>
		<key>group</key>
		<string>Morning</string>
	</dict>
</array>
</plist>
